body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;

    display: grid;
    grid-template: 1fr 3fr / 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";

    div {
        border: 1px solid black;
    }

    #sidebar {
        grid-area: sidebar;
    }

    #header {
        grid-area: header;
    }

    #main {
        grid-area: main;
    }
}